<!DOCTYPE html>
<html lang="en">

<head>
    {{>bootstrapAndBasicHeader}}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>

<body>

    <img class="d-block mx-auto mt-5" src="/image/fourZeroFour.png" alt="404 error">

    {{!-- <H1>Sorry, URL seems to be incorrect</H1> --}}

</body>

</html>