<html lang="en">

<head>
  {{>bootstrapAndBasicHeader}}
  <link rel="stylesheet" href="/css/change-password.css" />
</head>

<body>
  {{>headers}}
  <main>


    <div class="container p-5">
      <div class="row">
        <div class="d-flex align-items-center col-6">
          <img class="d-block mx-auto" src="/image/changePassword.svg">
        </div>

        <div class="col-4">

          <h4>Change password</h4>
          <form action="javascript:void(0)">
            <div class="d-grid mx-auto mt-3">

              <label for="oldPassword">Old password / otp sent on mail</label>

              <div class="input-group border border-2 mt-2 mb-4">
                <span class="input-group-text bg-danger" id="basic-addon1"></span>
                <input type="password" class="form-control no-border" placeholder="********" aria-label="Old password"
                  id="old-password" aria-describedby="basic-addon1">
                <button id="showOldPassword" class="btn" style="color: blue;">show</button>
              </div>


              <label for="newPassword">new password</label>

              <div class="" style="display: inline-block;">
                <div class="input-group border border-2 mt-2 mb-3">
                  <span class="input-group-text bg-warning" id="basic-addon1"></span>
                  <input type="password" class="form-control no-border" placeholder="********" aria-label="new password"
                    id="new-password" aria-describedby="basic-addon1" title="Atleast of 8 characters">
                  <button id="showNewPassword" class="btn" style="color: blue;">show</button>
                </div>
                {{!-- <div> <button class="btn"><i class="fa fa-info "></i></button> </div> --}}

              </div>

              <div id="message">
                <h5>Password must contain the following:</h5>
                <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
                <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
                <p id="number" class="invalid">A <b>number</b></p>
                <p id="length" class="invalid">Minimum <b>8 characters</b></p>
              </div>



              {{!-- <div class="input-group mb-3 px-5">
                <span class="input-group-text bg-warning" id="basic-addon1">new password</span>
                <input type="password" class="form-control" placeholder="********" aria-label="new password"
                  id="new-password" minlength="8" aria-describedby="basic-addon1" title="Atleast of 8 characters">
              </div> --}}


              <label for="confirmNewPassword">Re-enter new password</label>

              <div class="input-group border border-2 mt-2 mb-3">
                <span class="input-group-text bg-success" id="basic-addon1"></span>
                <input type="password" class="form-control no-border" placeholder="********"
                  aria-label="re-enter new password" id="re-password" aria-describedby="basic-addon1"
                  title="Atleast of 8 characters">
                <button id="showConfirmNewPassword" class="btn" style="color: blue;">show</button>
              </div>

              {{!--
              <div class="input-group mb-3 px-5">
                <span class="input-group-text bg-success" id="basic-addon1">type again</span>
                <input type="password" class="form-control" placeholder="********" aria-label="confirm new password"
                  id="re-password" aria-describedby="basic-addon1">
              </div> --}}


              <h3 class="text-danger pb-4" id="errmsg"></h3>

              <div class="d-flex justify-content-evenly">
                <input class="btn btn-primary mx-auto rounded-pill bg-success" type="reset" value="reset" id="resetbtn"
                  data-bs-toggle="tooltip" data-bs-placement="bottom" title="Empty the fields">
                <input class="btn btn-primary mx-auto rounded-pill bg-success" type="submit" value="change password"
                  id="submitbtn" data-bs-toggle="tooltip" data-bs-placement="bottom"
                  title="We hope you will remember it.">
              </div>

            </div>
          </form>
        </div>
      </div>
    </div>

  </main>

  {{>footers}}
</body>
<script src="/js/change-password.js"></script>

</html>