{{!<p>aagaya login karne??</p>}}

<html lang="en">

<head>
	{{>bootstrapAndBasicHeader}}
	<link rel="stylesheet" href="/css/login.css" />
</head>

<body>
	<header>
		<img src="/image/logo-with-name.png" alt="logo of the website" />
	</header>

	<main>
		<div class="main-box" style="flex-direction: column;text-align: center; font-size: 30px; ">
			<p style="margin: 50px auto 5px auto; ">Please check your Email for the credentials to log into your
				Account<br><a href="/users/login"> Go to Login Page</a></p>
			<h6 style="font-size: 20px "> * in case your can't see our email, check Spam/promotions or simply search
				1032180848@tcetmumbai.in<br> <i>Still cant find our mail? please write to us at <a class="mailto"
						href="mail:1032180848@tcetmumbai.in">1032180848@tcetmumbai.in</a>
				</i></h6>

		</div>
	</main>

	{{>footers}}
</body>

</html>