<!doctype html>
<html lang="en">

<head>
  {{>bootstrapAndBasicHeader}}
  
  <link rel="stylesheet" href="/css/view_topper.css" />
</head>

<body>
  {{>headers}}
  
  <br><br>


    <div class="container topper-pic-container">
      <div class="outer-border"></div>
      <div class="inner-border"></div>
      <div class="topper-container-border col-xs-12">
        <div class="row topper-container-header">
          <div class="topper-container-title cursive col-xs-12 text-center">
            <h1>Aarushi Classes Congratulates</h1>
          </div>
        </div>
        
        <div class="row topper-container-body">
          <div class="topper-container-block">
              <img src="/image/topper-pic.jpg" alt="topper-pic" class="topper-pic">

              <div class="col-xs-12">
                <div class="row">
                  <div class="col-xs-2"></div>
                  <div class="topper-container-name underline margin-0 col-xs-8 text-center">
                    <span class="topper-name-text bold">Ayush Tiwari</span>
                  </div>
                  <div class="col-xs-2"></div>
                </div>
              </div>          
  
              <div class="col-xs-12">
                <div class="row">
                  <div class="col-xs-2"></div>
                  <div class="topper-earned col-xs-8 text-center">
                    <span class="topper-earned-text padding-0 block cursive">for securing</span>
                    <span class="topper-marks-text block bold sans">38 marks out of 40</span>
                  </div>
                  <div class="col-xs-2"></div>
                  <div class="col-xs-12"></div>
                </div>
              </div> 

              <div class="col-xs-12">
                <div class="row">
                  <div class="col-xs-2"></div>
                  <div class="topper-course-title underline col-xs-8 text-center">
                    <span class="topper-marks-text block bold sans"></span>
                  </div>
                  <div class="col-xs-2"></div>
                </div>
              </div>

          </div>        
        </div>
      </div>
    </div>
    <br><br>

  {{>footers}}

</body>

</html>