<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
  footer {
    width: 100%;
    height: auto;
    background-color: black;
    display: flex;
    flex-direction: column;
    font-family: "Ubuntu", sans-serif;
    color: grey;
}


.hrow {
  color: white;
  font-weight: bolder;
  font-size: 100%;
  padding-bottom: 10%;

}

footer .frow {
    display: flex;
    justify-content: space-evenly;
    padding-top: 3%;
    border-bottom: white 18px;
   
}

footer .fcolumn {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}

footer .fcolumn ul {
    list-style: none;
    font-size: 100%;
    padding-bottom: 2%;
    padding-left: 0%;
}

footer .frow p {
    font-size: 100%;


}

.brow {
  background-color: #191919;
  padding-bottom: 2%;
  display: flex;
  flex-direction: row;
  
}

footer .brow p, address {
  padding-top: 0px;
  margin-bottom: 0%;
 
}
div .combine {
  margin-left: 0;
  width: 60%;
  display: inline-block;
  padding-left: 17%;
}
div .info{
  
  margin-top: 4%;
  margin-bottom: 4%;
 
}
div .icons {
  display: flex;
  flex-direction: row;
}

div .logo-container {
  width: 30%;
  display: inline-block;
  
}
div .logo1 {
  height: 70%;
  width: 70%;
  
}

.fa {
  padding: 7px;
  font-size: 25px;
  width: 42px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  margin: 3px;
  border-radius: 10%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #f7054d;
  color: white;
}


</style>
<footer>
    <div class="frow">
      <div class="fcolumn">
        <h5 class="hrow">MASTER-CLASS</h5>
        <ul>
          <li onclick="location.href='#';">Home</li>
          <li>About us</li>
          <li>Plans</li>
          <li>Features</li>
          <li>Cookie policy</li>
          <li>Privacy & terms</li>
          <li>Contact us</li>
        </ul>
      </div>
      <div class="fcolumn">
        <h5 class="hrow">COMPANY</h5>
        <ul>
          
          <li>Jobs</li>
          <li>News</li>
          <li>Blog</li>
          <li>Partners</li>
          <li>Resellers</li>
        </ul>
      </div>
      <div class="fcolumn">
        <h5 class="hrow">SUPPORT</h5>
        <ul>
          <li>Help center</li>
          <li>Request Demo</li>
          <li>Integrations</li>
          <li>Community Support</li>
          <li>Webinars</li>
          <li>FAQ</li>
          
        </ul>
      </div>
    </div>
    <div class="brow">
      <div class="combine">

          <div class="info">
            <p>MasterClass Pvt Ltd.</p>
        
            <p>Thakur College of Engineering and Technology</p>
          
            <address>A-Block, Thakur Village, Kandivali(E), Mumbai - 400101</address>
            
            <p>&#9400; 2022 All rights reserved</p>
          </div >
          
          <div class="icons">
              <a href="#" class="fa fa-facebook"></a>
              <a href="#" class="fa fa-twitter"></a>
              <a href="#" class="fa fa-google"></a>
              <a href="#" class="fa fa-linkedin"></a>
              <a href="#" class="fa fa-youtube"></a>
              <a href="#" class="fa fa-instagram"></a>
          </div>
          
      </div>

      <div class="logo-container">
        <img class="logo1" src="/image/logo-with-name.png" alt="brand logo">
      </div>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ"
    crossorigin="anonymous"></script>